table,th,td {
        border: 2px solid rgb(55, 19, 90);
      }
      img {
        float: right;
      }
h1 {
  text-transform: uppercase;
  color: #6234ad;
}h3 {
  color: #bf5a76;
}form{
  background-color: rgb(195, 244, 248);
  width: 200px;
  padding: 50px;
  display: inline-block;
}