table,
      th,
      td {
        border: 1px solid black;
      }
      img {
        float: right;
      }
h1 {
  text-transform: uppercase;
  color: #6b486f;
}h1 {
  text-transform: uppercase;
  color: #bf5a76;
}